

<h1>Welcome to One month Rails!</h1>
<p>
	You've found the home page for the 
	<%= link_to "One Month Rails wassup yo", "http://onemonthrails.com" %>
	<!--<a href="http://onemonthrails.com">One Month Rails</a>-->
</p>
<p>
	<button class="btn btn-primary" type="button"<a href="#">Sign up now!</a></button>
</p>



